<div id="page-404">

  <h1>404</h1>
  <p class="sorry">Sorry, but the page you were trying to view does not exist.</p>

  <script>
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
    GOOG_FIXURL_SITE = location.host;
  </script>
  <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</div>